.about {
    display: flex;
}

.text {
    text-align: justify;
}

#title {
    font-size: 80px;
    text-align: center;
}

#subtitle {
    font-size: 50px;
    text-align: center;
}

#self {
    height: 250px;
    width: 250px;
    border-radius: 25px;
    border: 5px solid black;
}