/* modifies elements */
body {
    background-color: wheat;
}

video {
    border-radius: 25px;
    border: 1px solid black;
    width: 41.7%;
    height: 50%;
}

ul {
    margin-left: 70px;
    margin-top: -20px;
    text-indent: 0px;
}


/* modifies classes */
.text {
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
    text-indent: 50px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    background-image: url('assets/guevarra-silly-pedestrian.gif');
    background-position: center;
    border-radius: 25px;
    margin-top: -50px;
    height: 360px;
    width: 100%;
    box-shadow: 4px 4px 10px black;
}

.header .text {
    font-family: monospace;
    margin: 0px;
    margin-left: 20px;
    color: white;
    text-align: left;
    text-indent: 0px;
}

.about-container {
    display: flex;
}

.container {
    background-color: white;
    gap: 20px;
    margin: 10px;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 4px 4px 10px grey;
}

.picture-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.picture-container .picture {
    width: 40%;
    height: 40%;
    border-radius: 25px;
    border: 1px solid black;
}

.section-title {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: gold;
    border-radius: 25px;
    border: 1px solid black;
    padding: 10px;
    margin: 30px;
}

/* modifies textual id's */
#title {
    font-size: 80px;
}

#subtitle {
    font-size: 40px;
    margin-top: -12px;
    padding-bottom: 15px;
}

/* modifies picture id's */
#self {
    height: 250px;
    width: 250px;
    border-radius: 25px;
    border: 1px solid black;
}

/* modifies container id's */
#about {
    width: 62%;
}

#projects {
    width: 38%;
    align-content: center;
}