.container {
    display: flex;
    gap: 20px;
    margin: 10px;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 4px 4px 10px black;
}

.text {
    text-align: justify;
    font-family: monospace;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    background-image: url('guevarra-silly-pedestrian.gif');
    background-position: center;
    border-radius: 25px;
    margin-top: -50px;
    height: 360px;
    width: 100%;
    box-shadow: 4px 4px 10px black;
}

.header .text {
    margin: 0px;
    margin-left: 20px;
    color: white;
    text-align: left;
}

.section-title {
    font-size: 30px;
    font-family: monospace;
    text-align: center;
    background-color: gold;
    border-radius: 25px;
}

/* for text id's */

#title {
    font-size: 80px;
}

#subtitle {
    font-size: 40px;
}

/* for picture */

#self {
    height: 250px;
    width: 250px;
    border-radius: 25px;
    border: 5px solid black;
}

/* 

references:
- gap: sets space between rows and columns inside a flexbox.
https://www.w3schools.com/cssref/css3_pr_gap.php

*/